.noscrolly {
  padding: 0;
  max-width: 60rem;
  margin: 0 auto;
  background-color: black;
  color: white;
}

.fullvideo{
  min-width: 100%;
  min-height: 100%;
}

body{
  background-color: black;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  margin: 0;
}
.main{
  background-color: black;
  margin: 20px;

}

.article {
  position: relative;
  padding: 0;
  max-width: 20rem;
  margin: 0 auto;
  font-family: 'Sofia Sans', sans-serif;

}

.figure {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  justify-content: center;
  object-fit: cover;
  left: 0;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 0;
  width: auto;
  height: 100vh;
}

.step {
  margin: 0 auto 0 auto;
  padding: 0;
  height: 100vh;
  font-family: 'Sofia Sans', sans-serif;
}

.step p {
background-color: rgba(0,0,0,0.8);

  font-family: 'Sofia Sans', sans-serif;
  font-weight: lighter;
color: white;
  margin: 0;
  padding: 10px 18px;
  border-radius: 10px;
}

.transparent{
  opacity: 0.0;
}
.step ul {
  background-color: rgba(0,0,0,0.7);
  margin-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
    font-family: 'Sofia Sans', sans-serif;

  color: white;
   
    padding: 10px 18px;
    border-radius: 10px;
  }

.sticky-img {
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: scale-down;
  overflow: hidden;
}

*{

font-family: 'Sofia Sans', sans-serif;
}

h1{
  font-style: italic;
  font-weight: 800;
  color: #DF3E81;  
  text-transform:uppercase;
  border-color:    #DF3E81;
  border-style: solid ;
 
  border-radius: 10px;
  text-align: left;
 
  padding-left: 5px;
  font-size: larger;
  
}